<div class="container mx-auto">
  <div class="">
    <h1 class="text-lg font-bold">about</h1>
    <p class="text-xs">ore laboriosam quasi faci  Optio expedita aperiam et!</p>
    <h2 appHighlight>HIGHLIGHT</h2>
    <div>
      <input type="number" [value]="duration()"  (change)="changeDuration($event)" />
      <input type="text" [value]="message()"  (change)="changeMessage($event)" />
    </div>
    <h2>Numero de clientes</h2>
    <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0" />

      <app-wave-audio audioUrl="/assets/audio.mp3"/>
  </div>
</div>
