<div class="flex space-x-4">
  <div class="navbar w-60">
    <p>Counter: </p>
    <ul>
      <li>
        <a routerLink="/">All</a>
      </li>
      <li *ngFor="let category of categories()">
        <a routerLink="/" [queryParams]="{ category_id: category.id }">
        {{ category.name }}
      </a>
      </li>
    </ul>
  </div>
  <div class="container max-w-screen-xl m-auto w-full">
    <div class=" grid grid-cols-4 gap-4">
      <!--<app-product
      *ngFor="let product of products()"
      [title]="product.title"
      [price]="product.price"
      [imgSrc]="product.images[0]"
      (addToCart)="fromProduct($event)"
      /> -->
      <app-product
        *ngFor="let product of products()"
        [product]="product"
        (addToCart)="fromProduct($event)"
      />
    </div>
  </div>
</div>
